* {
  padding: 0;
  margin: 0 auto;
}

body {
  background-color: #F2EEEB
}

#Logobilde {
  position: absolute;
  top: 50%; left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
  background-color: #F2EEEB
}

.TaskbarDown {
	overflow:hidden;
	margin: 0 auto;
  text-align: center;
  background-color: #00554A;
  color: white;
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 0;
}

.TaskbarDown li {
  display: inline-block;
  list-style: none;
  overflow: auto;
  font-family: 'Ubuntu', sans-serif;
  font-size: 34px;
  background-color: #00554A;
  padding: 1% 0%;
  width: 33.3%;
  text-align: center;
  margin: 0;
}

.TaskbarDown a{
  text-decoration: none;
  color: white
}

.TaskbarDown li:hover {
  background-color: #00695C
}

.Taskbar {
  width: 100%;
  overflow:hidden;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #00554A;
  color: white;
  font-size: 0;
}

#Button {
  display: inline-block;
  list-style: none;
  overflow: auto;
  font-family: 'Ubuntu', sans-serif;
  font-size: 28px;
  background-color: #00554A;
  margin: 0;
  width: 30%;
  padding-bottom: 1%;
  padding-top: 1%;
}

#ButtonHere {
  display: inline-block;
  list-style: none;
  overflow: auto;
  font-family: 'Ubuntu', sans-serif;
  font-size: 28px;
  background-color: black;
  margin: 0;
  width: 30%;
  padding-bottom: 1%;
  padding-top: 1%;
}

#Homebutton {
  display: inline-block;
  list-style: none;
  overflow: auto;
  background-color: #00554A;
  width: 10%;
  margin: 0;

}

#HomebuttonImg {
  height: 35px;
  padding-bottom: 7%

}

  .Taskbar a{
    text-decoration: none;
    color: white
  }

  #Button:hover {
    background-color: #00695C
  }

.Informasjon {
  margin-top: 40px;
  width: 70%;
  background-color: white;
  -webkit-box-shadow: 2px 2px 2px 1px rgb(68, 68, 68);
  box-shadow: 2px 2px 3px 1px rgb(68, 68, 68);
  margin-bottom: 40px;
}

p {
  font-family: calibri, 'Open Sans', sans-serif;
  font-size: 19px;
  text-align: left;
  padding: 1% 10%;
  line-height: 140%;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    padding-top: 3%;
    font-size: 40px;
}

h2 {
    font-family: sans-serif;
    text-align: center;
}

#StatImg {
  text-align: center;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}
